:root { font: 20px/1.2 'Oswald', sans-serif;}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.column {
  float: left;
  width: 25%;
}

.big {
  font-size:30px;
  font-weight:bold
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.item3 { grid-area: articles}

.grid-container {
  display: grid;
  grid-template-areas: 'articles';
  grid-gap: 5px;
  background-color: white;
  padding: 0px;
}


.grid-container > div {
  background-color: white;
  text-align: center;
  padding:0px 0;
}

table { border-collapse: collapse;
        table-layout: auto;}


tr {border: none;}

}

th, td {
    word-wrap: break-word;
    padding: 15px;
    }
    img {
         display: block;
         vertical-align: middle;
         padding: 20px
       }

* {
  box-sizing: border-box;
}


/* Create two equal columns that floats next to each other */
.columnLeft{
  float: left;
  width:45%;
  padding: 10px;
}
.columnRight {
  float: right;
  width:55%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .columnLeft {
    float:none;
    width: 100%;
    display:block;
  }
  .columnRight {
    width:100%
  }
}
.page {
  transition: 0.3s ease;
}
.page:hover {
  background-color:#ffc6c2;
}
.geeks {
        overflow: hidden;
        margin: 0 auto;
    }

    .geeks img {
        width: 100%;
        transition: 0.5s;
    }

    .geeks:hover img {
        transform: scale(1.1);
    }



.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: red;
  color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

a:hover {
  text-decoration: underline;
  color: #C71000
}


.genreType {
  font-size:30px;
  color:red;
  transition: 0.2s ;
}

.subjectLinks {
  display:block;
  color: grey
}

.articleText {
  color: #474747;
  size: 20px;
  vertical-align: top;
  text-align:left
}

.center {
  margin-left: auto;
  margin-right: auto;
}


.readMore {
  border: 1px solid red;
  padding:5px;
}

.readMore:hover {
  background-color: red;
  color:white;
  text-decoration: none;
}

.articleTables {
  border-spacing: 0;
  border-collapse:collapse;
  border-spacing: 15px 15px
}


.authorName {
  color: black
}

.articlePicture {
  width: auto;
  height: auto;
  border-radius: 5px
}

.articleHeader {
    font-size: 20px;
  }
.pic {
  border-radius:50%; width:50%
}
.articleDescription {
  font-size: 20px;
  color: grey
}

.articleAuthor {
  font-size:20px;
  color: black
}

.profilePicture {
  width: 80px;
  height:80px;
}

.titles {
font-size: 1rem;
}

.teamPicture {
  width:60px;
  height:60px
}


@media only screen and (max-width: 320px) {

   body {
      font-size: 2em;
   }

}
